<div class="jumbotron my-4">
    <h1 class="display-4">App Notes NodeJs/MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio exercitationem, libero animi
        voluptatem, totam, expedita voluptates quam doloribus fugit minus dolorum unde aut sunt? Quas eaque culpa facere
        veritatis enim?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos optio voluptates doloremque minus. Quam sit mollitia, harum voluptatibus iure eaque?</p>
        <a href="https://www.ugto.mx/" class="btn btn-primary">UGTO</a>
</div>