<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Login de Usuarios
            </div>
            <img src="/img/login.png" class=" rounded-circle mx-auto d-block m-3 logo">
            <div class="card-body">
                <form action="/users/signin" method="post">
                    
                    <div class="form-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>